// Screen size variables
$screen-sm-min: 600px;  // Small tablets and large smartphones
$screen-md-min: 900px;  // Small tablets (portrait view)
$screen-lg-min: 1200px;  // Tablets and small desktops
$screen-xl-min: 1800px;  // Oh! Look at him with a HD monitor!

// Mixins
@mixin sm { @media (min-width: #{$screen-sm-min}) {@content;} } // Small devices
@mixin md { @media (min-width: #{$screen-md-min}) {@content;} } // Medium devices
@mixin lg { @media (min-width: #{$screen-lg-min}) {@content;} } // Large devices
@mixin xl { @media (min-width: #{$screen-xl-min}) {@content;} } // Chonky devices

@mixin lt-sm { @media (max-width: #{$screen-sm-min - 1}) {@content;} } // Small devices
@mixin lt-md { @media (max-width: #{$screen-md-min - 1}) {@content;} } // Medium devices
@mixin lt-lg { @media (max-width: #{$screen-lg-min - 1}) {@content;} } // Large devices
@mixin lt-xl { @media (max-width: #{$screen-xl-min - 1}) {@content;} } // Chonky devices
