@import 'colours';

:root {
  --background: #{$background-light};
  --subtle: #{$subtle-light};
  --button: #{$button-light};
  --button-selected: #{$button-selected-light};
  --secondary: #{$secondary-light};
  --primary: #{$primary-light};
  --message-background: #{$message-background-light};
}

//More themes could be added in the future :)
:root.dark {
  --background: #{$background-dark};
  --subtle: #{$subtle-dark};
  --button: #{$button-dark};
  --button-selected: #{$button-selected-dark};
  --secondary: #{$secondary-dark};
  --primary: #{$primary-dark};
  --message-background: #{$message-background-dark};
}

:root.pink {
  --background: #{$background-pink};
  --subtle: #{$subtle-pink};
  --button: #{$button-pink};
  --button-selected: #{$button-selected-pink};
  --secondary: #{$secondary-pink};
  --primary: #{$primary-pink};
  --message-background: #{$message-background-pink};
}

html {
  color: var(--primary);
}
