@import 'colours';

@mixin light {
  --background: #{$background-light};
  --subtle: #{$subtle-light};
  --button: #{$button-light};
  --button-selected: #{$button-selected-light};
  --secondary: #{$secondary-light};
  --primary: #{$primary-light};
  --message-background: #{$message-background-light};
  --background-join: #{$background-join-light};
  --primary-join: #{$grey-d};
  --secondary-join: #{$grey};
}

//More themes could be added in the future :)
@mixin dark {
  --background: #{$background-dark};
  --subtle: #{$subtle-dark};
  --button: #{$button-dark};
  --button-selected: #{$button-selected-dark};
  --secondary: #{$secondary-dark};
  --primary: #{$primary-dark};
  --message-background: #{$message-background-dark};
  --background-join: #{$background-join-dark};
  --primary-join: #{$grey-l};
  --secondary-join: #{$grey};
}

@mixin pink {
  --background: #{$background-pink};
  --subtle: #{$subtle-pink};
  --button: #{$button-pink};
  --button-selected: #{$button-selected-pink};
  --secondary: #{$secondary-pink};
  --primary: #{$primary-pink};
  --message-background: #{$message-background-pink};
}

//Handling prefers-color-scheme
:root { @include light }
@media (prefers-color-scheme: dark) {
  :root { @include dark }
}
//Handling classes added via cookie based on user preference
:root.light { @include light }
:root.dark { @include dark }
:root.pink { @include pink }


html {
  color: var(--primary);
}
