$border-subtle: 1px solid var(--subtle);

$sidebar-width: 8vmin;
$ratio-width: calc(100vmin - #{$sidebar-width});
$ratio-height: calc(#{$ratio-width} / 3);

$spacer: 1vmin;

$height-lower: calc(#{$ratio-height} + calc(calc(2 * #{$spacer}) + #{$sidebar-width}));
$height-upper: calc(100% - #{$height-lower});

$size-pixel: $spacer * 6;

$grey: #808080;
$grey-d: darken( $grey, 20%);
$grey-l: lighten( $grey, 20% );
$almost-white: #F0F0F0;

$red: #E97777;
$red-d: darken( $red, 20% );
$green: #89C7B6;
$green-d: darken( $green, 20% );

$shadow-access: -1px 0px calc($spacer / 3) #0002, 1px 0px calc($spacer / 3) #0002,
  0px -1px calc($spacer / 3) #0002, 0px 1px calc($spacer / 3) #0002;
