html, body {
  width: 100%;
  height: 100%;
}

html, body, ul, ol {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sidebar {
  position: relative;
  width: 2rem;
  background: #fff;
  border-right: 1px solid #F0F0F0;
}

.content {
  width: 100%;
}

.upper, .lower {
  display: flex;
}

.upper {
  height: calc( 100% - calc(calc( calc(calc(calc(100vw - 2rem) - 8px) / 3) * 2 ) + calc(1rem + 12px)));
}

.lower {
  height: calc(calc( calc(calc(calc(100vw - 2rem) - 8px) / 3) * 2 ) + calc(1rem + 12px));
}

.msg {
  width: calc(calc(100vw - 2rem) - 8px);
  height: calc(calc(calc(100vw - 2rem) - 8px) / 3);
  position: relative;
  margin: 4px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 0);
  background-size: 100% 2em;
  border: 2px solid #4d4d4d;
  border-radius: 4px;
  overflow: hidden;
  flex-shrink: 0;
  font-family: 'Nineteen Ninety Three';
}

.msg.orange {
  border-color: #ea9143;
}

.msg.orange .msg-auth {
  background-color: #FFC694;
}

.msg.green {
  border-color: #63877d;
}

.msg.green .msg-auth {
  background-color: #89C7B6;
}

.msg.yellow {
  border-color: #cb963c;
}

.msg.yellow .msg-auth {
  background-color: #EFC57E;
}

.msg.purple {
  border-color: #775f86;
}

.msg.purple .msg-auth {
  background-color: #AD84C7;
}

.msg.blue {
  border-color: #556887;
}

.msg.blue .msg-auth {
  background-color: #7998C9;
}

.msg.pink {
  border-color: #956273;
}

.msg.pink .msg-auth {
  background-color: #CF8EA4;
}

.msg.red {
  border-color: #be3c3c;
}

.msg.red .msg-auth {
  background-color: #E97777;
}

.msg.teal {
  border-color: #07343e;
}

.msg.teal .msg-auth {
  background-color: #008DAB;
}

.msg.system {
  height: auto;
  background: #808080;
}

.msg-text {
  color: #FFF;
  padding: 0.25rem;
}

.status {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #808080;
  font-size: 0.85rem;
  padding: 0.25rem;
}

.msg-auth {
  padding: 0.25rem;
  background: #808080;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  border-color: inherit;
  border-bottom-right-radius: 4px;
  color: #fff;
}

.msg-auth.self {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#canvas-compose {
  touch-action: none;
}

.msg canvas {
  width: 100%;
  height: 100%;
  position: absolute;
}

.msg-history {
  flex-direction: column-reverse;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: -20px;
  padding-right: 20px;
}

.sidebar img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  margin: 0.25rem;
}

.tool {
  background: #F0F0F0;
  border-radius: 4px;
}

.tool.selected {
  background: #b3b3b3;
}

.keyboard {
  overflow: hidden;
  width: calc( calc(calc(100vw - 2rem) - 8px) - calc(2.5rem + 4px));
  height: calc(calc(calc(100vw - 2rem) - 8px) / 3);
  background: #fff;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.keyboard .key {
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  font-family: 'Nineteen Ninety Three';
  padding: 0.25rem;
  font-size: 1rem;
  color: #4d4d4d;
  background: #F0F0F0;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.keyboard .space {
  grid-column-start: 2;
  grid-column-end: span 8;
}

.keyboard-container {
  display: flex;
  width: auto;
  margin: 4px;
  margin-top: 0;
  overflow: hidden;
}

.msg-control {
  margin-left: 4px;
  width: 2.5rem;
  overflow: none;
  height: calc(calc(calc(100vw - 2rem) - 8px) / 3);
  border-radius: 4px;
  border: 2px solid #b3b3b3;
}

.msg-control .control {
  display: block;
  height: calc(calc(calc(calc(100vw - 2rem) - 8px) / 3)/3);
  width: inherit;
  padding: 0.5rem;
}

.loader {
  font-size: 2rem;
  font-family: 'Nineteen Ninety Three';
  color: #606060;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: colour 5s infinite;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background: #eee;
}

.loader.hide {
  display: none;
}

@keyframes colour {
  0% {
    color: #FFC694;
  }
  20% {
    color: #EFC57E;
  }
  40% {
    color: #89C7B6;
  }
  60% {
    color: #7998C9;
  }
  80% {
    color: #AD84C7;
  }
  100% {
    color: #FFC694;
  }
}

@font-face {
  font-family: 'Nineteen Ninety Three';
  src: url("/css/font/Nineteen Ninety Three.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#msg-breadcrumbs {
  display: flex;
  flex-direction: column-reverse;
  height: calc( calc(100vh - calc(calc( calc(calc(calc(100vw - 2rem) - 8px) / 3) * 2 ) + calc(1rem + 12px))) - 6rem);
  width: auto;
  padding: 0.25rem;
}

#msg-breadcrumbs .breadcrumb {
  width: auto;
  height: 2px;
  background: #808080;
  margin: 1px;
  border-radius: 1px;
}

#msg-breadcrumbs .breadcrumb.orange {
  background-color: #FFC694;
}

#msg-breadcrumbs .breadcrumb.green {
  background-color: #89C7B6;
}

#msg-breadcrumbs .breadcrumb.yellow {
  background-color: #EFC57E;
}

#msg-breadcrumbs .breadcrumb.purple {
  background-color: #AD84C7;
}

#msg-breadcrumbs .breadcrumb.blue {
  background-color: #7998C9;
}

#msg-breadcrumbs .breadcrumb.pink {
  background-color: #CF8EA4;
}

#msg-breadcrumbs .breadcrumb.red {
  background-color: #E97777;
}

#msg-breadcrumbs .breadcrumb.teal {
  background-color: #E97777;
}

#msg-breadcrumbs .breadcrumb.system {
  background-color: #4d4d4d;
}

.useradd {
  position: relative;
}

.useradd .useradd-overlay {
  display: none;
  z-index: 100;
  font-family: 'Roboto';
  font-size: 0.75rem;
  position: absolute;
  left: 115%;
  top: -1.25rem;
  height: 4.5rem;
  padding: 0.5rem;
  width: auto;
  background: #F0F0F0;
  border-radius: 4px;
}

.useradd.show .useradd-overlay {
  display: block;
}

.useradd-overlay input {
  margin-top: 0.5rem;
  font-family: 'Roboto';
  width: 15rem;
  height: 2rem;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #b3b3b3;
}

.useradd-overlay::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  /* To the left of the tooltip */
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent #F0F0F0 transparent transparent;
}
