// ----- Colours -----

// Pastels
$pastel-orange: #FFC694;
$pastel-green: #89C7B6;
$pastel-yellow: #EFC57E;
$pastel-purple: #AD84C7;
$pastel-blue: #7998C9;
$pastel-pink: #CF8EA4;
$pastel-teal: #008DAB;
$pastel-red: #E97777;

$pastel-orange-d: desaturate(darken( $pastel-orange, 20% ), 20%);
$pastel-green-d: desaturate(darken( $pastel-green, 20% ), 20%);
$pastel-yellow-d: desaturate(darken( $pastel-yellow, 20% ), 20%);
$pastel-purple-d: desaturate(darken( $pastel-purple, 20% ), 20%);
$pastel-blue-d: desaturate(darken( $pastel-blue, 20% ), 20%);
$pastel-pink-d: desaturate(darken( $pastel-pink, 20% ), 20%);
$pastel-red-d: desaturate(darken( $pastel-red, 20% ), 20%);
$pastel-teal-d: desaturate(darken( $pastel-teal, 20%), 20%);

$grey: #808080;
$grey-d: darken( $grey, 20%);
$grey-l: lighten( $grey, 20% );

$almost-white: #F0F0F0;

// Dimensions

$sidebar-width: 2rem;
$message-aspect: 3;
$msg-width: calc(calc(100vw - #{$sidebar-width}) - 8px);
$msg-height: calc(#{$msg-width} / #{$message-aspect});
$lower-height: calc(calc( #{$msg-height} * 2 ) + calc(1rem + 12px));

html, body {
  width: 100%;
  height: 100%;
}

// Reset

html, body, ul, ol {
  margin:  0;
  padding: 0;
}

// Border Box FTW

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Structure

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sidebar {
  position: relative;
  width: $sidebar-width;
  background: #fff;
  border-right: 1px solid $almost-white;
}

.content {
  width: 100%;
}

.upper, .lower {
  display: flex;
}

.upper {
  height: calc( 100% - #{$lower-height} )
}

.lower {
  height: $lower-height;
}

// Basic Message styles

.msg {
  width: $msg-width;
  height: $msg-height;

  position: relative;

  margin: 4px;

  background-image: linear-gradient(rgba(0,0,0,.3) 1px, transparent 0);
  background-size: 100% 2em;
  border: 2px solid $grey-d;
  border-radius: 4px;
  overflow: hidden;

  flex-shrink: 0;

  font-family: 'Nineteen Ninety Three';

  &.orange {
    border-color: $pastel-orange-d;
    .msg-auth {
      background-color: $pastel-orange;
    }
  }

  &.green {
    border-color: $pastel-green-d;
    .msg-auth {
      background-color: $pastel-green;
    }
  }

  &.yellow {
    border-color: $pastel-yellow-d;
    .msg-auth {
      background-color: $pastel-yellow;
    }
  }

  &.purple {
    border-color: $pastel-purple-d;
    .msg-auth {
      background-color: $pastel-purple;
    }
  }

  &.blue {
    border-color: $pastel-blue-d;
    .msg-auth {
      background-color: $pastel-blue;
    }
  }

  &.pink {
    border-color: $pastel-pink-d;
    .msg-auth {
      background-color: $pastel-pink;
    }
  }

  &.red {
    border-color: $pastel-red-d;
    .msg-auth {
      background-color: $pastel-red;
    }
  }

  &.teal {
    border-color: $pastel-teal-d;
    .msg-auth {
      background-color: $pastel-teal;
    }
  }

  &.system {
    height: auto;
    background: $grey;
  }
}

.msg-text {
  color: #FFF;
  padding: 0.25rem;
}

.status {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: $grey;
  font-size: 0.85rem;
  padding: 0.25rem
}

.msg-auth {
  padding: 0.25rem;
  background: $grey;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  border-color: inherit;
  border-bottom-right-radius: 4px;
  color: #fff;

  &.self {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }
}

#canvas-compose {
  touch-action: none;
}

.msg canvas {
  width: 100%;
  height: 100%;
  position: absolute;
}

.msg-history {
  flex-direction: column-reverse;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  // Dirty 'Hide the scrollbar' trick.
  margin-right: -20px;
  padding-right: 20px;
}

// Sidebar Styles
.sidebar img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  margin: 0.25rem;
}

.tool {
  background: $almost-white;
  border-radius: 4px;
}

.tool.selected {
  background: $grey-l;
}

// Keyboard

$keyboard-rows: 4;
$keyboard-cols: 10;

.keyboard {
  overflow: hidden;
  width: calc( #{$msg-width} - calc(2.5rem + 4px));
  height: $msg-height;
  background: #fff;

  display: grid;
  grid-template-columns: repeat($keyboard-cols, 1fr);
  grid-template-rows: repeat($keyboard-rows, 1fr);

  .key {
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    font-family: 'Nineteen Ninety Three';
    padding: 0.25rem;
    font-size: 1rem;
    color: $grey-d;
    background: $almost-white;
    border: 1px solid #fff;
    border-radius: 4px;

    // Prevent touch selection on keys.

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }

  .space {
    grid-column-start: 2;
    grid-column-end: span 8;
  }
}

.keyboard-container {
  display: flex;
  width: auto;
  margin: 4px;
  margin-top: 0;
  overflow: hidden;
}

.msg-control {
  margin-left: 4px;
  width: 2.5rem;
  overflow: none;
  height: $msg-height;
  border-radius: 4px;
  border: 2px solid $grey-l
}

.msg-control .control {
  display: block;
  height: calc(#{$msg-height / 3});
  width: inherit;
  padding: 0.5rem;
}

// loader

.loader {
  font-size: 2rem;
  font-family: 'Nineteen Ninety Three';
  color: #606060;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: colour 5s infinite;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background: #eee;

  &.hide {
    display: none;
  }
}

@keyframes colour {
    0% {
      color: $pastel-orange;
    }
    20% {
      color: $pastel-yellow;
    }
    40% {
      color: $pastel-green;
    }
    60% {
      color: $pastel-blue;
    }
    80% {
      color: $pastel-purple;
    }
    100% {
      color: $pastel-orange;
    }
}


// Fonts

@font-face {
    font-family: 'Nineteen Ninety Three';
    src: url('/css/font/Nineteen Ninety Three.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// message breadcrumbs in sidebar
#msg-breadcrumbs {
  display: flex;
  flex-direction: column-reverse;
  height: calc( calc(100vh - #{$lower-height}) - 6rem);
  width: auto;
  padding: 0.25rem;

  .breadcrumb {
    width: auto;
    height: 2px;
    background: $grey;
    margin: 1px;
    border-radius: 1px;

    &.orange {
      background-color: $pastel-orange;
    }

    &.green {
      background-color: $pastel-green;
    }

    &.yellow {
      background-color: $pastel-yellow;
    }

    &.purple {
      background-color: $pastel-purple;
    }

    &.blue {
      background-color: $pastel-blue;
    }

    &.pink {
      background-color: $pastel-pink;
    }

    &.red {
      background-color: $pastel-red;
    }

    &.teal {
      background-color: $pastel-red;
    }


    &.system {
      background-color: $grey-d;
    }
  }
}

.useradd {
  position: relative;
}

.useradd .useradd-overlay {
  display: none;
  z-index: 100;
  font-family: 'Roboto';
  font-size: 0.75rem;
  position: absolute;
  left: 115%;
  top: -1.25rem;
  height: 4.5rem;
  padding: 0.5rem;
  width: auto;
  background: $almost-white;
  border-radius: 4px;
}

.useradd.show .useradd-overlay {
  display: block;
}

.useradd-overlay input {
  margin-top: 0.5rem;
  font-family: 'Roboto';
  width: 15rem;
  height: 2rem;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid $grey-l;
}

.useradd-overlay::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent $almost-white transparent transparent;
}
