$headerHeight: 4rem;

$contWidth: 20rem;

$border: 1px solid #dadada;

$joinButton: 5rem;

html, body {
  width: 100%;
  height: 100%;
}

// Reset

html, body, ul, ol {
  margin:  0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
  animation: colour 30s infinite;
  font-family: 'Raleway', sans-serif;
}

// Border Box FTW

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.cont {
  width: $contWidth;
  border-radius: 6px;
  padding: 1rem;
  background: #fff;
  border: $border;
}

hr {
  border: 0;
  height: 1px;
  background: #dadada;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  height: $headerHeight;
  align-items: center;
  justify-content: center;
  font-family: 'Comfortaa', sans-serif;
  font-size: 3rem;

  img {
    width: 3rem;
    height: 3rem;
  }
}

.inline-join {
  display: flex;
  border: $border;
  overflow: hidden;
  border-radius: 6px;
  height: 3rem;
  margin-top: 1rem;

  input[type="text"] {
    display: inline;
    border: 0;
    height: 3rem;
    width: $contWidth - $joinButton - 2rem;
    font-size: 1rem;
    padding: 0.5rem;
  }

  button {
    display: inline;
    background: #dadada;
    border: 0;
    padding: 0.5;
    font-size: 1.5rem;
    margin: 0;
    height: 3rem;
    width: $joinButton;
    border-left: $border;
  }
}

.create {
  margin-top: 1rem;
  border-radius: 6px;
  overflow: hidden;
  font-family: inherit;

  button {
    background: #dadada;
    border: 0;
    padding: 0.5;
    font-size: 1.5rem;
    margin: 0;
    height: 3rem;
    width: $contWidth - 2rem;
  }
}

button, input {
  font-family: 'Raleway', sans-serif;
}

$pastel-orange: #E97777;
$pastel-green: #89C7B6;
$pastel-yellow: #EFC57E;
$pastel-purple: #AD84C7;
$pastel-blue: #7998C9;

@keyframes colour {
    0% {
      background: $pastel-orange;
    }
    20% {
      background: $pastel-yellow;
    }
    40% {
      background: $pastel-green;
    }
    60% {
      background: $pastel-blue;
    }
    80% {
      background: $pastel-purple;
    }
    100% {
      background: $pastel-orange;
    }
}

.info {
  .stat {
    font-weight: bold;
  }
}
