$sidebar-width: 8vmin;
$ratio-width: calc(100vmin - #{$sidebar-width});
$ratio-height: calc(#{$ratio-width} / 3);

$spacer: 1vmin;

$height-lower: calc(#{$ratio-height} + calc(calc(2 * #{$spacer}) + #{$sidebar-width}));
$height-upper: calc(100% - #{$height-lower});

$size-pixel: $spacer * 6;

$grey: #808080;
$grey-d: darken( $grey, 20%);
$grey-l: lighten( $grey, 20% );
$almost-white: #F0F0F0;
