html, body {
  margin: 0;
  width: 100%;
  height: 100%;

  font-size: 16px;
  min-height: 0;

  line-height: 1;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
    font-family: 'pixel 5x7';
    src: url('../font/generic-pixel-font-5x7-neue.woff2') format('woff2'),
         url('../font/generic-pixel-font-5x7-neue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-pixel {
  font-family: "pixel 5x7";
  line-height: 0.625;
}

.btn {
  border-radius: $spacer;
  overflow: hidden;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  background: $almost-white;
  margin-bottom: $spacer;
  cursor: pointer;

  &:last-of-type {
    margin: 0;
  }

  li {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    border-bottom: 1px solid #fff;

    &:last-of-type {
      border: 0;
    }

    .icn {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: $spacer;
    }

    &.selected {
      background: $grey-l;
    }
  }
}
